extends layout

block content
  h1= title

  div(class="container-fluid")
        div(class="row")
            -
                 let smartphones = results
            each item in smartphones
                - let destination = `dispatch(\"/smartphones/update?id=${item._id}\")`
                div(class="row-sm-2", class="m-1") Item #{item.smartphonename}(#{item.brand}) is #{item.cost}
                    button.btn( class="btn-primary ml-1", onclick=destination) Update
            script.
                function dispatch(path){
                    window.location.href = path
                }

